{{define "yield"}}
<h1>Commonly asked questions here</h1>
<p> FAQ Section </p>

<ul>
    <li>
        Why is the sky blue?
        To match golangs mascot
    </li>
    <li>
        Golang is an amazing programming language 
        Yes it is
    </li>
    <li>
        I would love to use Golang and React.js to make amazing projects! Then to also make it into a mobile application as well.
        That would be awesome
    </li>
</ul>
{{end}}